<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>
    <script src="https://unpkg.com/vue@next"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div id="app">

        <!-- TODO display the name of the activity -->
        <h1 class="text-center">{{ activity }} Time Tracker</h1>

        <div id="add-hours" class="card">

            <h2 class="card-header">Add Records</h2>

            <div class="card-body">

                <div class="alert alert-danger" v-if="errors.length > 0">
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </div>

                <div class="form-group">
                    <label class="form-label" for="date">What date did you do this activity?</label>
                    <input id="date" class="form-control" type="date" v-model="dateString">
                    <small id="date-help" class="form-text text-muted">
                        Date must be today or in the past.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="hours">How many hours did you brew for?</label>
                    <input id="hours" class="form-control" type="number" min="0" max="24"
                           v-model.number="hours">  <!-- v-model.number only allows numeric input -->
                    <small id="hours-help" class="form-text text-muted">
                        Enter a number of hours, more than 0, up to a maximum of 24
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="style">What style?</label>
                    <select class="form-control" v-model="style">
                        <option id="style" v-for="style in styles">{{ style }}</option>
                    </select>
                </div>

                <div class="form-label pb-2">
                    All grain or extract?
                </div>


                <div class="form-check-inline">
                    <input id="method1" class="form-check-input" type="radio" value="All Grain"
                           v-model="allGrainOrExtract">
                    <label class="form-check-label" for="method1"> All Grain </label>
                </div>

                <div class="form-check-inline">
                    <input id="method2" class="form-check-input" type="radio" value="Extract"
                           v-model="allGrainOrExtract">
                    <label class="form-check-label" for="method2"> Extract </label>
                </div>

                <div class="custom-checkbox">
                    <input type="checkbox" id="status" v-model="bottled">
                    <label class="form-check-label" for="status">Bottled</label>
                </div>

                <div class="form-group">
                    <label class="form-label" for="notes">Notes</label>
                    <input id="notes" class="form-control" type="text" v-model="notes">
                </div>

                <div>
                    <button class="btn btn-primary mt-2" type="button" v-on:click="submit">Add record</button>
                </div>
                
            </div>

        </div>


        <div class="card">

            <h2 class="card-header">Activity Records</h2>

            <div class="card-body">

                <h3> {{ totalRecords }} </h3>

                <div id="records">
                    <table class="table table-hover">
                        <tr>
                            <th>Date</th>
                            <th>How many hours?</th>
                            <th>Style</th>
                            <th>All Grain/Extract</th>
                            <th>Status</th>
                            <th>Notes</th>
                        </tr>

                        <tr v-for="record in activityRecords"
                            v-bind:class="{
                                hazyIPA: record.style === 'Hazy IPA',
                                impStout: record.style === 'Imperial Stout',
                                saison: record.style === 'Saison'
                            }">
                            <td>{{ shortDate(record.date) }}</td>
                            <td>{{ record.hours }}</td>
                            <td>{{ record.style }}</td>
                            <td>{{ record.allGrainOrExtract }}</td>
                            <td v-if="record.bottled">Bottled</td>
                            <td v-else>Fermenting/Conditioning</td>
                            <td v-if="record.notes.length <= 40">{{ record.notes }}</td>
                            <td v-else>{{ record.notes.substring(0,40) + '...' }}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>


        <div class="card">
            <h2 class="card-header">Summary</h2>

            <div class="card-body">

                <!-- TODO add computed property to calculate the total hours -->
                <p>You have brewed a total of {{ totalHours }} hours</p>

          
            </div>
        </div>

    </div>

    <script>

        let app = Vue.createApp({
            data() {
                return {
                    // Name of the activity
                    activity: 'Beer Brewing',

                    // Array of all activity records
                    activityRecords: [],

                    // v-modeled to form inputs
                    dateString: '',
                    hours: 1,
                    style: 'Hazy IPA',
                    allGrainOrExtract: 'All Grain',
                    bottled: false,
                    notes: '',

                    // used with select-option
                    styles: ['Hazy IPA', 'Imperial Stout', 'Saison'],

                    errors: []
                }
            },

            methods: {
                submit() {

                    this.errors = []

                    let date = new Date(this.dateString)

                    // date: today or in past
                    if ( !this.dateString || this.dateString === 'Invalid Date' ||  date > new Date() ) {
                        this.errors.push('Select a valid date, today or in the past')
                    }

                    if (this.hours <=0 || this.hours > 24) {
                        this.errors.push('Select number of hours greater than 0 and less than or equal to 24')
                    }

                    if (!this.style) {
                        this.errors.push('Select a style')
                    }

                    if (!this.allGrainOrExtract) {
                        this.errors.push('Select all grain or extract')
                    }

                    if (this.errors.length === 0) {

                        let record = {
                            date: date,
                            hours: this.hours,
                            style: this.style,
                            allGrainOrExtract: this.allGrainOrExtract,
                            bottled: this.bottled,
                            notes: this.notes
                        }

                        this.activityRecords.push(record)

                        this.activityRecords.sort(function(r1, r2) {
                            // sort by date ascending
                            //
                            // returns negative if r1 is an earlier date than r2
                            return r1.date.getTime() - r2.date.getTime()
                        })
                    }
                },
                shortDate(date) {
                    return new Intl.DateTimeFormat('en-US', {timeZone: 'UTC'}).format(date)
                }
            },

            computed: {
                totalRecords() {
                    if (this.activityRecords.length === 1) {
                        return '1 record'
                    } else {
                        return `${this.activityRecords.length} records`
                    }
                },
                totalHours() {
                    let total = 0
                    this.activityRecords.forEach((record) => {
                        total = total + record.hours
                    })
                    return total
                }
            }
        })

        app.mount('#app')

    </script>

</body>

</html>